<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}


<title>{% block title %}{% endblock %}</title>

<meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
<link rel="preload" href="https://cdn.futurelearn.com/assets/application-77057c8051539191ece75095dd0c83d4a999f83182243ebe30266bb1b8839f9d.css" as="style" />
<link rel="preload" href="https://cdn.futurelearn.com/assets/fonts/europa-ee7781719b24468086877c63ff79a3c621ee568c0a8d998d87f7fba4e5678039.css?bPeCsFjNlmXeh9wkltQG0lQRFlrgSHuaYHFUwxl0d7X0Qar2S2t0NhUrnNJUQ-dkAC3je92T7hepcEvo" as="style" />


<meta content='width=device-width, initial-scale=1' name='viewport'>

<link rel="stylesheet" media="screen, projection" href="https://cdn.futurelearn.com/assets/application-77057c8051539191ece75095dd0c83d4a999f83182243ebe30266bb1b8839f9d.css" />
<link rel="stylesheet" media="screen, projection" href="https://cdn.futurelearn.com/assets/fonts/europa-ee7781719b24468086877c63ff79a3c621ee568c0a8d998d87f7fba4e5678039.css?bPeCsFjNlmXeh9wkltQG0lQRFlrgSHuaYHFUwxl0d7X0Qar2S2t0NhUrnNJUQ-dkAC3je92T7hepcEvo" />
<link rel="stylesheet" media="print" href="https://cdn.futurelearn.com/assets/print-311406ef463f696cd357d4175149b799b38a2aaa8312a487e25364251e73bfe8.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="https://cdn.futurelearn.com/assets/fl/application/init-f410810a6087f8a5bf048c4df0068eb78b9a679c79ec0144cc9018ba975b09e9.js"></script>
<script src="https://cdn.futurelearn.com/assets/fl/application/font_face_init-940e15113d866ef64063fef8da96e390fa81260081bbb1699e8eb80f737b4e93.js"></script>


</head>
<body>




<div id='fl-canvas' role='main'>
<header aria-label='Global' class='o-main-header o-main-header--floating o-main-header--signed-out' role='navigation'>
<div class='o-main-header__logo' style="margin-top:-36px;margin-left:-25px;">
<a class='a-steps-logo' href='http://127.0.0.1:8000/itrack' >
<img src=" {% static "img/1.png " %}" alt="img" style="width:135px;height:135px;">

</a>

</div>
<div class='o-main-header__tools'>
<div class='o-main-header__nav-tools'>


<div class='o-main-header__main-nav-signin'>
<a class='a-block-button' href='/itrack/signin'>Sign in</a>
<a class='a-block-button' href='/itrack/signup'>Sign up</a>
</div>
</div>
</div>
<div class='o-main-header__main-nav'>
<div class='m-menu m-menu--main' id='main-menu'>
<div class='m-pocket-belt__content m-pocket-belt__content--header'>
<div class='m-pocket-belt__pocket'>
<a class='m-pocket-belt__pocket-link' href='/courses/categories'>
<div class='m-pocket-belt__pocket-label'>Categories</div>
</a>
</div>
<div class='m-pocket-belt__pocket'>
<a class='m-pocket-belt__pocket-link' href='/courses'>
<div class='m-pocket-belt__pocket-label'>Courses</div>
</a>
</div>
<div class='m-pocket-belt__pocket'>
<a class='m-pocket-belt__pocket-link' href='/programs'>
<div class='m-pocket-belt__pocket-label'>Programs</div>
</a>
</div>
<div class='m-pocket-belt__pocket'>
<a class='m-pocket-belt__pocket-link' href='/degrees'>
<div class='m-pocket-belt__pocket-label'>Degrees</div>
</a>
</div>

</div>
</div>

</div>
</header>


</div>
{% block content %}

{% endblock %}

<footer class='m-page-footer'>

<div class='a-section m-page-footer__secondary-nav'>
<div class='m-brackets-large'>
<div class='m-brackets-large__row'>
<div class='m-brackets-large__block'>
<h3 class='m-brackets-large__block__heading'>
<a class='a-block-button js-ga-track'  href='#'>Using Itrack</a>
</h3>
<div class='m-brackets-large__block__content'>
<ul class='m-menu m-menu--discovery'>
<li class='m-menu__item'>
<a class='a-block-button js-ga-track'  href='#'>Why it works</a>
</li>
<li class='m-menu__item'>
<a class='a-block-button js-ga-track'  href='#'>Proving your learning</a>
</li>
<li class='m-menu__item'>
<a class='a-block-button js-ga-track' href='#'>Learning guide</a>
</li>
<li class='m-menu__item'>
<a class='a-block-button js-ga-track' href='#'>Learner stories</a>
</li>
<li class='m-menu__item'>
<a class='a-block-button js-ga-track' href='#'>Child safety</a>
</li>
<li class='m-menu__item'>
<a class='a-block-button js-ga-track' href='#'>With students</a>
</li>
</ul>
</div>
</div>
<div class='m-brackets-large__block'>
<h3 class='m-brackets-large__block__heading'>
<a class='a-block-button js-ga-track' >About FutureLearn</a>
</h3>
<div class='m-brackets-large__block__content'>
<ul class='m-menu m-menu--discovery'>
<li class='m-menu__item'>
<a class='a-block-button js-ga-track' href='#'>Our team</a>
</li>
<li class='m-menu__item'>
<a class='a-block-button js-ga-track' href='#'>Our values</a>
</li>
<li class='m-menu__item'>
<a class='a-block-button js-ga-track' href='#'>Press</a>
</li>
</ul>
</div>
</div>

<div class='m-brackets-large__block'>
<h3 class='m-brackets-large__block__heading'>
<a class='a-block-button js-ga-track' href='#'>Partners</a>
</h3>
<div class='m-brackets-large__block__content'>
<ul class='m-menu m-menu--discovery'>
<li class='m-menu__item'>
<a class='a-block-button js-ga-track' href='#'>Become a partner</a>
</li>
</ul>
</div>
</div>
<div class='m-brackets-large__block'>
<h3 class='m-brackets-large__block__heading'>
<a class='a-block-button js-ga-track' href='#'>FAQ</a>
</h3>
</div>
<div class='m-brackets-large__block'>
<h3 class='m-brackets-large__block__heading'>
<a class='a-block-button js-ga-track' href='#'>Blog</a>
</h3>
</div>
</div>
</div>

</div>
<div class='a-section a-section--inverse m-page-footer__core'>
<div class='m-core-page-footer'>
<div aria-label='Mission statement' class='m-core-page-footer__mission-statement'>
<p>
FutureLearn aims to pioneer the best social learning experiences
for everyone,&nbsp;anywhere.
</p>
</div>
<footer class="w3-container w3-padding-64 w3-left w3-opacity">
  <div class="w3-xlarge w3-padding-32">
    <i class="fa fa-facebook-official  w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
 </div>
</footer>
<nav aria-label='Footer' class='m-core-page-footer__bottom-nav'>
<nav aria-label='Footer (menu)' class='m-core-page-footer__menu'>
<ul class='m-menu m-menu--footer'>
<li class='m-menu__item'>
<a class='a-block-button js-ga-track' href='#'>Terms</a>
</li>


<li class='m-menu__item'>
<a class='a-block-button js-ga-track' href='#'>Contact</a>
</li>

</ul>
</nav>
</nav>
</div>

</div>
</footer>

<script src="https://cdn.futurelearn.com/assets/application-5e6d0961650bf982f062d381888d822fd258ae35c5f2e166576179d4d4ab07bc.js"></script>




</body>

</html>
