{% extends "main/layouts/base.html" %}

{% block content %}
<div class="main w-100">
        <!-- content start Here -->
        <div id="welcome" class="section">
            <div class="text-center col-sm-4">
                <h2>Welcome again to iTrack</h2>
                <br>
                <p>The shortest way to determine your technical future.Don't waste time, and use our free service.. ..Now !</p>
                <a href="{% url 'questionnaire'  %}" class="btn btn-dblue">Start Questionnaire</a>
            </div>
        </div>
        <div class="section">
            <a href="#about" class="down-btn text-center smoothscroll">↓</a>
        </div>
        <div id="about" class="section">
            <div class="text-center col-sm-8 col-md-6">
                <h2>ABOUT iTrack</h2>
                <br>
                <p>We have noticed most of newcomers, undergraduates and even fresh graduates have problems about understanding
                    what will they are studying or even how to improve themselves in what they have studied recently.
                    <br>Here in iTrack project we aim to find their very favourite specialisation and recommendation for some
                    tracks and paths to reach their perfection in this specialisation.</p>
                <a href="Javascript:void(0)" class="text-dblue">Subscribe us to be the first to know about our new articles. </a>
                <form class="">
                    <input type="text" class="form-control text-center" placeholder="Email address">
                    <button type="submit" class="btn btn-dblue mt-1">Subscribe Now</button>
                </form>
            </div>
        </div>

        <!-- content end Here -->
    </div>
    <!-- d -->
 {% endblock %}    