
<div class="forms">
    <div class="m-5">
        <button type="button" class="close formssh" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="register d-flex justify-content-center w-100">
        <div class="container">
            <h1 class="text-center m-5" id="forms-title">Sign in</h1>
            <div class="row  d-flex justify-content-center">
                <div class="col-md-5 p-3 p-lg-5" id="register">
                  <form enctype="multipart/form-data" action="/users/signup/" method="post">
                      {%csrf_token%}
                     {% for field in register_form %}
                    <div class="form-group mb-2">
                        <input class="form-control {% if field.errors %} is-invalid{% endif %}" id="{{ field.id_for_label }}" maxlength="30" name="{{ field.html_name }}"  placeholder="{{ field.label }}" type="{% if 'password' in field.id_for_label %}password{% else %}text{% endif %}" />
                        {% if field.errors %}
                        <div class="invalid-feedback">{{ field.errors }}</div>
                        {% endif %}
                    </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-dblue btn-lg btn-block">Go</button>
                    <a href="Javascript:void(0)" class="btn btn-link text-center w-100" id="showsignin">Already a member? login</a>
                  </form>
                </div>
                <div class="col-md-5 p-3 p-lg-5" id="login">
                    <form enctype="multipart/form-data" action="/users/login/" method="post">
                        {% csrf_token %}
                         {% for field in login_form %}
                        <div class="input-group mb-2">
                            <input class="form-control {% if field.errors %} is-invalid{% endif %}" id="{{ field.id_for_label }}" maxlength="30" name="{{ field.html_name }}" placeholder="{{ field.label }}"
                                type="{% if 'password' in field.id_for_label %}password{% else %}text{% endif %}" />
                            {% if field.errors %}
                            <div class="invalid-feedback">{{ field.errors }}</div>
                            {% endif %}
                        </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-dblue btn-lg btn-block">Go</button>
                        <a href="Javascript:void(0)" class="btn btn-link text-center w-100" id="showsignup">Don't have an account? Sign up</a>
                    </form>

                </div>

                <div class="col-md-5 p-3 p-lg-5">
                    <button type="button" class="btn btn-primary btn-lg btn-block">Login with Facebook</button>
                    <button type="button" class="btn btn-danger btn-lg btn-block">Login with Google+</button>
                </div>
            </div>
        </div>
    </div>
</div>
