{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>welcome</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <!-- <style media="screen">

    </style> -->
</head>

<body>
    <span id="top"></span>
     {% if not user.is_authenticated %}
    {% include "main/layouts/forms.html" %}
    {% endif %}




    <nav class="navbar navbar-expand-lg  navbar-trans bg-trans fixed-top">
        <a class="navbar-brand" href="{% url 'welcome_q' %}">
            <img src="{% static 'logo.png' %}" width="150px;" alt="itrack-logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse float-right" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto ">
                <li class="nav-item active">
                    <a class="nav-link smoothscroll" href="#about">About</a>
                </li>
                 {% if user.is_authenticated %}
                 
                 <li class="nav-item">
                     <a class="nav-link" href="Javascript:void(0)">{{user.username}}</a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                 </li>
                 {% else %}
                <li class="nav-item">
                    <a class="nav-link formssh" href="Javascript:void(0)">Sign in/Sign up</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>